/* vim: set ts=2 sts=2 sw=2 noet: */
body {
	padding-top: 50px;
}

.round {
	border-radius: 50%;
	overflow: hidden;
}

#gallery-pat-div {
	height: 300px;
}

#gallery-pat-div img {
	position: absolute;
	height: 300px;
	top: 0;
	border-radius: 10%;
}
