<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- vim: set ts=2 sts=2 sw=2 noet: -->
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/timeline.css" rel="stylesheet" type="text/css"/>
	<link href="/css/patpannuto.css" rel="stylesheet" type="text/css"/>

	<script type="text/javascript" src="/js/jquery-2.1.0.min.js"></script>
	<script type="text/javascript" src="/js/jquery.autoheight.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/patpannuto.js"></script>

	<title>Pat Pannuto</title>
</head>

<body>

<div id="wrap">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!--
				<div class="hidden-xs" style="margin:8px 20px 0 20px;">
					<img src='/images/block_m.png' height="35px" />
				</div>
				-->
				<div>
					<a class="navbar-brand" style="margin-top: -15px;" title="Home" href="/">
						<img class="round" src="/images/pannuto-square-50.jpg"/>
					</a>
					<a class="navbar-brand hidden-xs hidden-sm hidden-md" title="Home" href="/">
						Pat Pannuto
					</a>
					<a class="navbar-brand hidden-xs hidden-sm hidden-md">|</a>
					<!--
					<a class="navbar-brand" target="_blank" title="Facebook" href="https://www.facebook.com/pat.pannuto">
						<i class="fa fa-facebook"></i>
					</a>
					-->
					<a class="navbar-brand" target="_blank" title="Twitter" href="https://twitter.com/patpannuto">
						<i class="fa fa-twitter"></i>
					</a>
					<a class="navbar-brand hidden-xs hidden-sm" target="_blank" title="Keybase" href="https://keybase.io/ppannuto">
						<i class="fa fa-key"></i>
					</a>
					<!--
					<a class="navbar-brand hidden-xs hidden-sm" target="_blank" title="Instagram" href="http://instagram.com/ppannuto/">
						<i class="fa fa-instagram"></i>
					</a>
					<a class="navbar-brand hidden-xs hidden-sm hidden-md" target="_blank" title="Foursquare" href="https://foursquare.com/user/1752675">
						<i class="fa fa-foursquare"></i>
					</a>
					-->
					<a class="navbar-brand hidden-xs">|</a>
					<a class="navbar-brand" target="_blank" title="Github" href="https://github.com/ppannuto">
						<i class="fa fa-github"></i>
					</a>
					<a class="navbar-brand hidden-xs" target="_blank" title="Stack Exchange" href="http://stackexchange.com/users/147514/pat">
						<i class="fa fa-stack-exchange"></i>
					</a>
					<!--
					<a class="navbar-brand hidden-xs hidden-sm" target="_blank" title="Bitbucket" href="https://bitbucket.org/ppannuto">
						<i class="fa fa-bitbucket"></i>
					</a>
					-->
					<a class="navbar-brand hidden-xs">|</a>
					<a class="navbar-brand" target="_blank" title="Lab11 Home Page (Research Group)" href="http://lab11.eecs.umich.edu/">
						<img src="/images/lab11_72px.png" height="20px" />
					</a>
				</div>
			</div> <!-- navbar-header -->

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav pull-right">
					<li class="hidden-sm" {% if active_page == 'index' %}class="active"{% endif %}><a href="/index.html">Pat</a></li>
					<!--<li {% if active_page == 'cv' %}class="active"{% endif %}><a href="/cv.html">CV</a></li>-->
					<li><a href="/cv/pannuto.pdf">CV <i class="fa fa-file-pdf-o"></i></a></li>
					<li class="hidden-sm" {% if active_page == 'pubs' %}class="active"{% endif %}><a href="/publications.html">Publications</a></li>
					<li class="hidden-lg hidden-md hidden-xs" {% if active_page == 'pubs' %}class="active"{% endif %}><a href="/publications.html">Pubs.</a></li>
					<li {% if active_page == 'talks' %}class="active"{% endif %}><a href="/talks.html">Talks</a></li>
					<li {% if active_page == 'teaching' %}class="active"{% endif %}><a href="/teaching.html">Teaching</a></li>
					<li {% if active_page == 'fellowships' %}class="active"{% endif %}><a href="/fellowships.html">Fellowships</a></li>
				</ul>
			</div>
		</div> <!-- container -->
	</nav>

	<div class="container" id="main-content">
		{{ content }}
		{% block content %}{% endblock %}
	</div>

</div> <!-- wrap -->

<script src="/js/patpannuto-onload.js"></script>
<script>
  /* Google Analytics */
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54298009-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
