<!DOCTYPE html>
<!-- vim: set ts=2 sts=2 sw=2 noet: -->
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="keywords" content="Pat Pannuto, ppannuto, patpannuto, Lab11">
	<meta name="author" content="Pat Pannuto">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/timeline.css" rel="stylesheet" type="text/css"/>
	<link href="/css/patpannuto.css" rel="stylesheet" type="text/css"/>

	<script
		src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>

	<title>Pat Pannuto</title>
</head>

<body>

<div class="container" id="main-content">
	<div class="row">
		<div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10 col-sm-12">
			{{ content }}
			{% block content %}{% endblock %}
		</div>
	</div>
</div>

<script src="/js/patpannuto-onload.js"></script>

</body>
</html>
