{% extends "header.html" %}
{% set active_page = 'publications' %}
{% block title %}Publications{% endblock %}


{% block content %}

<div class="page-header">
  <h1><a href="/" style="text-decoration: none; color: inherit;">Pat Pannuto</a></h1>
</div>

<p class="lead">
A <a href="/select.html">summary of select publications</a> or
my <a href="/cv/pannuto.pdf">full CV <i class="fa fa-file-pdf-o"></i></a> are also available.
</p>

<div class="offset-sm-1 col-sm-10">
  {{ filters['type'] }}
</div>

<hr />

{{ pubs }}

{% endblock %}


{% block footer %}
{{ footer }}
{% endblock %}
